<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTB.Properties.Settings.QLTBConnectionString" connectionString="Data Source=DESKTOP-Q2CQI0V\SQLEXPRESS;Initial Catalog=QLTB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTB.Properties.Settings.QLBH2ConnectionString" connectionString="Data Source=DESKTOP-Q2CQI0V\SQLEXPRESS;Initial Catalog=QLBH2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTB.Properties.Settings.QLTB2ConnectionString" connectionString="Data Source=DESKTOP-Q2CQI0V\SQLEXPRESS;Initial Catalog=QLTB2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTB.Properties.Settings.QLTB3ConnectionString" connectionString="Data Source=DESKTOP-Q2CQI0V\SQLEXPRESS;Initial Catalog=QLTB3;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="QLTB.Properties.Settings.QLTB4ConnectionString" connectionString="Data Source=DESKTOP-Q2CQI0V\SQLEXPRESS;Initial Catalog=QLTB4;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>