body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-cornflowerblue: #7aa2e3;
  --color-gainsboro: #e0e0e0;
  --color-gray: #828282;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-5xs: 8px;
}
