.tr-thit-b2 {
  position: relative;
  line-height: 140%;
}
.button-compact20 {
  position: absolute;
  top: 161px;
  left: 21px;
  border-radius: var(--br-5xs);
  background-color: var(--color-deepskyblue);
  width: 153px;
  height: 40px;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  cursor: pointer;
}
.button-compact20,
.button-compact21,
.button-compact22,
.nhp-thit-b-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button-compact21,
.button-compact22 {
  position: absolute;
  left: 17px;
  border-radius: var(--br-5xs);
  background-color: var(--color-deepskyblue);
  height: 40px;
  padding: var(--padding-10xs) var(--padding-base) 0;
  box-sizing: border-box;
}
.button-compact21 {
  top: 285px;
  width: 168px;
  cursor: pointer;
}
.button-compact22 {
  top: 226px;
  width: 223px;
}
.danh-sch-thit3 {
  position: relative;
  line-height: 150%;
}
.button,
.button-compact23,
.button-compact24 {
  position: absolute;
  border-radius: var(--br-5xs);
  background-color: var(--color-deepskyblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
.button {
  top: 28px;
  left: 8px;
  box-shadow: var(--button-shadow);
  width: 232px;
  padding: var(--padding-sm) var(--padding-5xl);
}
.button-compact23,
.button-compact24 {
  top: 351px;
  left: 17px;
  width: 168px;
  height: 40px;
  padding: var(--padding-10xs) var(--padding-base) 0;
}
.button-compact24 {
  top: 487px;
  left: 21px;
}
.danh-sch-nhn3 {
  position: absolute;
  top: 10px;
  left: 471px;
  font-size: var(--font-size-lg);
  line-height: 130%;
  display: inline-block;
  text-align: left;
  width: 224px;
  height: 25px;
}
.a-ch,
.m-nhn-vin,
.s-in-thoi,
.tn-nhn-vin {
  position: absolute;
  top: 57px;
  left: 19px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 25px;
}
.a-ch,
.s-in-thoi,
.tn-nhn-vin {
  top: 105px;
  left: 12px;
  width: 94px;
}
.a-ch,
.s-in-thoi {
  top: 158px;
  left: 18px;
  width: 73px;
}
.s-in-thoi {
  top: 211px;
  left: 19px;
  width: 84px;
}
.matb-text1,
.ngaynhap-text1,
.sl-text1,
.tentb-text1 {
  position: absolute;
  top: 105px;
  left: 117px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 222px;
  height: 28px;
}
.matb-text1,
.ngaynhap-text1,
.sl-text1 {
  top: 211px;
  width: 214px;
}
.matb-text1,
.ngaynhap-text1 {
  top: 51px;
  width: 225px;
}
.ngaynhap-text1 {
  top: 158px;
  width: 273px;
}
.mt-khu1,
.ngy-sinh {
  position: absolute;
  top: 52px;
  left: 406px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 25px;
}
.mt-khu1 {
  top: 51px;
  left: 847px;
}
.ncc-text1 {
  position: absolute;
  top: 46px;
  left: 516px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 266px;
  height: 28px;
}
.cccd,
.gii-tnh,
.quyn,
.ti-khon1 {
  position: absolute;
  top: 97px;
  left: 438px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 25px;
}
.gii-tnh,
.quyn,
.ti-khon1 {
  top: 100px;
  left: 847px;
  width: 78px;
}
.gii-tnh,
.ti-khon1 {
  top: 161px;
  left: 437px;
  width: 79px;
}
.ti-khon1 {
  top: 214px;
  left: 429px;
  width: 81px;
}
.bh-text1,
.gia-text1,
.gia-text2,
.gia-text3,
.timkiem-text1,
.trinhtrang-text1 {
  position: absolute;
  top: 95px;
  left: 516px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 266px;
  height: 28px;
}
.gia-text1,
.gia-text2,
.gia-text3,
.timkiem-text1,
.trinhtrang-text1 {
  top: 155px;
}
.gia-text2,
.gia-text3,
.timkiem-text1,
.trinhtrang-text1 {
  top: 43px;
  left: 934px;
  width: 221px;
}
.gia-text3,
.timkiem-text1,
.trinhtrang-text1 {
  top: 95px;
  left: 938px;
}
.timkiem-text1,
.trinhtrang-text1 {
  top: 209px;
  left: 516px;
  width: 260px;
}
.timkiem-text1 {
  top: 312px;
  left: 805px;
  width: 266px;
}
.search-24dp-fill0-wght400-grad-icon1 {
  position: absolute;
  top: 315px;
  left: 762px;
  width: 28px;
  height: 21px;
  object-fit: cover;
}
.button-compact25,
.button-compact26,
.button-compact27,
.button-compact28 {
  position: absolute;
  top: 301px;
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-deepskyblue);
  width: 135px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-base) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.button-compact26,
.button-compact27,
.button-compact28 {
  left: 172px;
}
.button-compact27,
.button-compact28 {
  left: 322px;
}
.button-compact28 {
  left: 471px;
}
.text72 {
  flex: 1;
  position: relative;
  line-height: 130%;
}
.content74 {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell72,
.content74,
.row8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.cell72 {
  width: 120px;
  background-color: var(--color-gray-400);
  border-top: 1px solid var(--color-silver);
  border-left: 1px solid var(--color-silver);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}
.row8 {
  background-color: var(--color-deepskyblue);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--color-white);
}
.row9 {
  height: 88px;
  flex-shrink: 0;
}
.row10,
.row9 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.g {
  color: var(--color-white);
}
.danh-sch-nhn-vin-parent,
.table1 {
  position: absolute;
  border-radius: var(--br-6xl);
  width: 1200px;
  overflow: hidden;
}
.table1 {
  top: 364px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.danh-sch-nhn-vin-parent {
  top: 22px;
  left: 265px;
  background-color: var(--color-palegoldenrod);
  height: 779px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.button-compact29,
.frame-ds-nv {
  background-color: var(--color-deepskyblue);
}
.button-compact29 {
  position: absolute;
  top: 100px;
  left: 21px;
  border-radius: var(--br-5xs);
  width: 168px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-base) 0;
  box-sizing: border-box;
  cursor: pointer;
}
.frame-ds-nv {
  width: 100%;
  position: relative;
  border-radius: var(--br-6xl);
  height: 823px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--presets-body2);
}
